h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(14, 124, 88);
    background-color: rgb(162, 228, 228);
    }  
    
body{
    background-color: rgb(210, 223, 223);

     }

     main{
        display: grid;
        gap: 10px;
        max-width: 1200px;
        grid-template-columns:minmax(300px,1fr);
     }
     @media (max-width:300px){
        grid-template-columns: 1fr;
     }
     @media (max-width: 650px){
        grid-template-columns: 2fr;
     }
     @media (max-width:1200px){
        grid-template-columns: 3fr;
     }

    
