h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(14, 124, 88);
    background-color: rgb(162, 228, 228);
    }  
    
body{
    background-color: rgb(210, 223, 223);
    
    .images-gallery}