h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(14, 124, 88);
    background-color: rgb(162, 228, 228); text-align: center;text-decoration-style: wavy ; font-style: italic;
    }  
    
body{
    background-color: rgb(210, 223, 223);

     }

     main{
        display: grid;
        gap: 10px;
        max-width: 1200px;
        grid-template-columns:1fr;
     }
     
     @media (min-width: 650px)
     {main{
        grid-template-columns: repeat(2, 1fr);
        }
     }
     @media (min-width:1000px){
        main{
        grid-template-columns: repeat(3,1fr;}
     }

    
